@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.tertiary {
    color: var(--tertiary-color);
}


:root {
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Noto Sans', sans-serif;
    --bg-color: #f2d2c0;
    --primary-color: #24A19C;
    --secondary-color: #325288;
    --tertiary-color: #D96098;
    --text: #1a1a1a;
}